

body{

    background: linear-gradient(90deg, rgba(246,215,193,1) 0%, rgba(223,135,200,1) 29%, rgba(227,83,83,1) 98%);



}

header {
margin-top: 10%;
margin-bottom: 10%;
margin-left: 0%;
margin-right: 0%;
text-align: center;
padding: 0%;
background-color: rgb(177, 133, 133);

}

nav {
flex-direction: row;


width: auto;
height: auto;


}




div nav ul {
background-color: #777;
display: flex;

list-style-type: none;
padding: 10%;

}


.home {

margin-right: 20px;
background-color: mediumaquamarine;



}

.contact {

    background-color: mediumaquamarine;
margin-right: 20px;

}

.nos {

    background-color: mediumaquamarine;

}









iframe {

    width: auto;
    height: auto;
    padding: 0%;
    background-color: rgb(90, 116, 116);



    
    }


article { 

padding: 1%;
width: auto;
background-color: #d19f9f;
height: 10%;

}

section ::after{

content: "";
display: table;
clear: both;
width: auto;
height: auto;
}

footer p {

text-align: center;
padding: 10px;
background-color: #777;
display: inline-flexbox
}


