

    

.fondo {

   
    background: linear-gradient(90deg, rgb(63, 62, 110) 0%, rgb(57, 59, 129) 35%, rgb(52, 118, 131) 100%);


}


h1 {



color: #fffefe;
text-decoration-line: overline;

font-family: 'Source Code Pro', monospace;

}

.pre {
    list-style-type: none;
    flex-direction: row
    font-family: 'Source Code Pro', monospace;
    

    color: #fefeff;
}

body {

    font-family: 'Source Code Pro', monospace;
    
}


title {

    


}