

body{

    background: linear-gradient(90deg, rgba(246,215,193,1) 0%, rgba(223,135,200,1) 29%, rgba(227,83,83,1) 98%);

    font-family: 'Source Code Pro', monospace;
    margin: auto;
    padding: 30px 30px 30px 30px;
    

}

header {
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right: 0%;
text-align: left;
padding: 0%;
background-color: rgb(177, 133, 133);

}


h1 {
    text-decoration-line: underline;
    
}



nav {

width: auto;
height: auto;

}




div nav ul {
background-color: #777;
display: flex; 
display: inline-flex;





list-style-type: none;
padding: 1%;

}


.home {

margin-right: 20px;
background-color: mediumaquamarine;



}

.contact {

    background-color: mediumaquamarine;
margin-right: 20px;

}

.nos {

    background-color: mediumaquamarine;

}



iframe {
     
    padding: 1%;
    background-color: rgba(122, 206, 206, 0.623);
    
    



    
    }


article { 

padding: 1%;
width: auto;
background-color: #d19f9f;
height: 10%;

display: inline-block;

}

section {

width: auto;
height: auto;
}




footer p {

text-align: center;
padding: 10px;
background-color: #777;
display: inline-flexbox
}


